@media (max-width: 450px) {
  .main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 300px;
  }
  .trend {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 300px;
  }
  .trend {
    width: 100%;
  }
  .chart {
    position: absolute;
    left: -100000000px;
  }
}

@media (min-width: 450px) {
  .main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    display: flex;
    height: 300px;
  }
  .chart {
    width: 35%;
  }
}
@media (min-width: 700px) {
  .trend {
    width: 65%;
  }
  .main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 350px;
  }
}

.chart {
  background-color: #f7f7f7b0;
  box-shadow: 2px 2px 2px 2px #b9b7b78a;
}

.album {
  background-color: #f7f7f7b0;
  box-shadow: 2px 2px 2px 2px #b9b7b78a;
}